# GCP Configuration
GCP_PROJECT_ID=your-gcp-project-id
GCP_REGION=us-central1
GCP_CREDENTIALS_FILE=path/to/your/service-account-key.json

# BigQuery
BQ_DATASET=github_analytics

# GCS
GCS_BUCKET=gh-archive-data-lake

# Data
START_DATE=2026-02-17
END_DATE=2026-02-23
